@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, halloween, corporate, cupcake,
    autumn;
}
@theme {
  --font-poppins: var(--font-poppins-variable), "sans-serif";
}

@layer components {
  .card-metric-style {
    @apply bg-slate-900 border border-slate-800 transition-all shadow-sm hover:shadow-md flex flex-col items-start justify-center rounded-xl p-5;
  }
}
